
.color-menu-white{
background:#E6E4D9 ;
    }
.color-body-white{
background:#F3F2EF;
    }
.color-left-white{
background:#ECECE5;
    }
.color-right-white{
background:#ECECE5;
    }
.color-carrito-white{
background:#E8E7E3;
    }